body{
  background: url('./Assets/Images/bg.png') no-repeat center center/cover;
}

.App {
  text-align: center;
  /* height: 100vh; */
}

#menu{
  display: flex;
  flex-direction: row;
}

.table {
  margin: 0px 10px;
  border: 2px solid rgb(232 232 232);
  border-radius: 0.5em;
  border-spacing: 0;
}

th {
  border-bottom: 1px solid black;
  border-radius: 0.5em;
  background-color: black;
  color: white;
  font-weight: 400;
  padding: 5px 10px;
}

td {
  text-align: center;
}

tbody tr:nth-child(even){
  background-color: rgb(232 232 232);
}

tbody tr:nth-child(odd){
  background-color: rgb(201, 195, 195);
}

.column{
  display: inline-table;
}

.last_col_table{
  width: 100%;
}

#bill{
  margin: 10px;
}

#logo{
  width: 70px;
  height: 50px;
  margin: 10px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 1px 5px rgba(9, 9, 9, 0.2);
}

img{
  width: 20px;
  height: 20px;
  margin: 0px 2px;
}

#heading{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: larger;
  color: #003566;
}

#heading p {
  font-size: 0.75em;
  text-align: center;
  margin: 0px 10px;
  margin-top: 14px;
}

#heading h2{
  font-family: cursive;
  margin: 0;
}

#buttons .btn{
  border: 2px solid #f1c40f;
  background-color: #f9e493;
  border-radius: 20px;
  font-size: 1rem;
  padding: 1% 5%;
  margin: 3%;
}

#buttons .btn:hover{
  border-color: black;
  background-color: #f1c40f;
  font-weight: bold;
  transform: scale(1.1);
}